<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <title>Parman Family</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/photographer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/js/shadowbox/shadowbox.css">
    <link href="/font/fontawesome-webfont.eot">
    <link href="/font/fontawesome-webfont.svg">
    <link href="/font/fontawesome-webfont.ttf">
    <link href="/font/fontawesome-webfont.woff">
    
    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>
	
	<div class="masthead clearfix">			
		<div class="container">			
			<div class="logo pull-left">The REAL Parman Family!</div>			
			<div class="socials pull-right">
				<a href="https://www.pinterest.com/"><i class="icon-pinterest"></i></a> 
				<a href="">CLICK FOR SURPRISE!</a> 
			</div>			
		</div>		
	</div>

      
  
	
	
	<div class="container">

			<div class="jumbotron">
			  <strong><h1>For my Hunny</h1></strong>
			  <strong><p></p></strong>
			  <br>

			  <p><a class="btn btn-primary btn-lg" id="play">Listen Here!</a></p>
			  <p><a class="btn btn-primary btn-lg" id="pause">Stop</a></p>
			</div>
		
		<div class="clearfix">
		
		<ul class="filter-nav">
			<li class="active"><a data-id="all" href="">All</a></li>
			<li><a data-id="portraits" href="">Portraits</a></li>
			<li><a data-id="landscapes" href="">Landscapes</a></li>
			<li><a data-id="animals" href="">Animals</a></li>
		</ul>
		

		
		</div>
		
		<div class="row">
		
		<ul class="thumbnails" id="thumbnails">
		
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="1" data-type="portraits">
				<a href="/img/us10.jpg" class="thumbnail">
				  <img src="/img/us10.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="2" data-type="landscapes">
				<a href="/img/us2.jpg" class="thumbnail">
				  <img src="/img/us2.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="3" data-type="portraits">
				<a href="/img/us3.jpg" class="thumbnail">
				  <img src="/img/us3.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="4" data-type="landscapes">
				<a href="/img/us4.jpg" class="thumbnail">
				  <img src="/img/us4.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="5" data-type="portraits">
				<a href="/img/us1.jpg" class="thumbnail">
				  <img src="/img/us1.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="6" data-type="portraits">
				<a href="/img/us9.jpg" class="thumbnail">
				  <img src="/img/us9.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="7" data-type="landscapes">
				<a href="/img/us6.jpg" class="thumbnail">
				  <img src="/img/us6.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="8" data-type="landscapes">
				<a href="/img/us7.jpg" class="thumbnail">
				  <img src="/img/us7.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="9" data-type="landscapes">
				<a href="/img/us8.jpg" class="thumbnail">
				  <img src="/img/us8.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="10" data-type="landscapes">
				<a href="/img/wedding1.jpg" class="thumbnail">
				  <img src="/img/wedding1.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="11" data-type="landscapes">
				<a href="/img/us5.jpg" class="thumbnail">
				  <img src="/img/us5.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="12" data-type="animals">
				<a href="/img/us11.jpg" class="thumbnail">
				  <img src="/img/us11.jpg" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
			
		</ul>
		
		</div>
		
	</div>
	
	<!-- Javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/shadowbox/shadowbox.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/js/jquery.quicksand.js"></script>
    <script src="/js/photographer.js"></script>
    <script src="/js/audio.js"></script>

</body>
</html>